{% extends 'base.html.twig' %}

{% block title %}FirstProject - Nouvelle recette !{% endblock %}

{% block body%}
    <div classe="container">

        <h1 classe="mt-4 ">Création d'une recette </h1>
        
        {# <a href="{{path('recipe.new')}}" classe="btn btn-primary mt-4"></a> #}
     {{ form_start(form) }}

            <div classe="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                <div classe="form-error">
                     {{ form_errors(form.name) }}
                </div>
            </div>
            
            <div classe="form-group">
                {{ form_label(form.time) }}
                {{ form_widget(form.time) }}
                <div classe="form-error">
                     {{ form_errors(form.time) }}
                </div>
            </div>

             <div classe="form-group">
                {{ form_label(form.nbPeople) }}
                {{ form_widget(form.nbPeople) }}
                <div classe="form-error">
                     {{ form_errors(form.nbPeople) }}
                </div>
            </div>
             
            <div classe="form-group">
                {{ form_label(form.difficulty) }}
                {{ form_widget(form.difficulty) }}
                <div classe="form-error">
                     {{ form_errors(form.difficulty) }}
                </div>
            </div>
             
            <div classe="form-group">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
                <div classe="form-error">
                     {{ form_errors(form.description) }}
                </div>
            </div>
         
            <div classe="form-group">
                {{ form_label(form.price) }}
                {{ form_widget(form.price) }}
                <div classe="form-error">
                     {{ form_errors(form.price) }}
                </div>
            </div>
          
            <div classe="form-group">
                {{ form_label(form.isFavorite) }}
                {{ form_widget(form.isFavorite) }}
                <div classe="form-error">
                     {{ form_errors(form.isFavorite) }}
                </div>
            </div>

          {# {{ form_label(form.igredient) }} #}
        {# <br>
        <div id="igredient-wrapper">
            {% for field in form.igedient %}
                <div style="">

                </div>
        </div> #}
    
        {{ form_end(form) }}
          
    </div>
{% endblock %}